/* fonts */
@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), url('/fonts/LibreBaskerville-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

body {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,139,201,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(218,139,201,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,139,201,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,139,201,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,139,201,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(218,139,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#da8bc9', GradientType=1 );
    font-family: 'Libre Baskerville', georgia, serif;
    font-size: 18px;
    color:#302F2F;
    margin-top:50px;
    padding-top:20px;
    margin-left:300px
}

/*body {
    font-family:sans-serif;
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}*/

div#header {
    padding:12px 20px 12px 0px;
    height:100%;
    width:270px;
    position:fixed;
    left:0;
    top:0;
    background: #4d004d;
    color:white
}

/*div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}
*/

div#logo {
    text-align:center;
    margin-bottom:40px;
    margin-top:40px
}

div#logo a {
    color: #F3F3F3;
    font-family:times, serif;
    font-size:38px;
    font-weight:light;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    width:270px
}


div#header #navigation {
    display:table;
    text-align: right;
    margin-left:40px
}

div#header #navigation a {
    display:table-row;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width:100%
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding:12px 30px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #4d004d;
    font-size: 14px;
    font-style: italic;
    text-align:center
}
div#content {
    font-size: 18px;
    line-height:20px;
    padding:0 30px 20px 30px
}
div#content h1 {
    color:#4d004d;
    font-family:times, serif;
    font-style:italic;
    font-size:46px;
    text-align:center
}