#post-list {
    padding: 4em 0 2em;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    font-size: 17px;
    text-align: left;

    h1 {
        font-family: BioRhyme;
        font-size: 28px;
        color: $brand-primary;
        line-height: 2em;
        text-align: center;
        font-style: normal;
        margin-bottom: 1em;

        @media (min-width: 992px) { font-size: 34px; }

        .args {
            display: none;

            @media (min-width: 800px) { display: inline; }
        }
    }

    .date {
        white-space: nowrap;
    }

    .description {
        margin-top: 0.5em;
        font-weight: 300;
        font-style: italic;

        @media (min-width: 800px) { margin-left: 1.5em; }
    }

    .info {
        margin: 0 2em 2em;
        font-family: $font-family-sans-serif;
        font-size: 1em;
        color: $black;
        opacity: 0.6;
    }

    .links {
        text-align: center;
    }
}
