$partial("templates/prev-next.html")$
<div class="info">
    $if(author)$
        by $author$
    $endif$
</div>

<div class="info">
    $if(tags)$
    Tags: $tags$
    $endif$
</div>

<div class="post">
$body$
</div>

<div class="blurb">
  <p>
      If you like my writing and are interested in learning beginner-to-intermediate Haskell, <a href="http://haskellbook.com/">take a look at my first book</a>.
  </p>
</div>

<div class="footer">
  <h4>
    Posted on $date$
  </h4>
</div>
$partial("templates/prev-next.html")$
