<meta name="twitter:card" content="summary"/>
<meta name="twitter:url" content="http://argumatronic.com/"/>
$if(title)$
<meta name="twitter:title" content="$title$"/>
$endif$
$if(description)$
<meta name="twitter:description" content="$description$"/>
$endif$
<meta name="twitter:image" content="http://argumatronic.com/images/sticker3.jpg"/>
<meta name="twitter:site" content="argumatronic"/>

$partial("templates/prev-next.html")$
<div class="info">
    $if(author)$
        by $author$
    $endif$
</div>

<div class="info">
    $if(tags)$
    Tags: $tags$
    $endif$
</div>

<div class="post">
$body$
</div>

<div class="blurb">
  <p>
      If you like my writing and are interested in learning beginner-to-intermediate Haskell, <a href="http://haskellbook.com/">take a look at my first book</a>.
  </p>
</div>

<div class="footer">
  <h4>
    Posted on $date$
  </h4>
</div>
$partial("templates/prev-next.html")$
